openapi: 3.0.4
info:
  title: recraft.ai external api
  version: 0.0.1
servers:
  - url: https://external.api.recraft.ai/
paths:
  /ping:
    get:
      operationId: GetPing
      responses:
        '200':
          description: OK
  /status:
    get:
      summary: Get System Status
      operationId: GetSystemStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'
  /v1/images/clarityUpscale:
    post:
      tags:
        - image
      summary: Clarity Upscale
      operationId: ClarityUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
      deprecated: true
  /v1/images/creativeUpscale:
    post:
      tags:
        - image
      summary: Creative Upscale
      operationId: CreativeUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/crispUpscale:
    post:
      tags:
        - image
      summary: Crisp Upscale
      operationId: CrispUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/generations:
    post:
      tags:
        - image
      summary: Generate image from prompt
      operationId: GenerateImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/generativeUpscale:
    post:
      tags:
        - image
      summary: Generative Upscale
      operationId: GenerativeUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
      deprecated: true
  /v1/images/imageToImage:
    post:
      tags:
        - image
      summary: Generate image from image and prompt
      operationId: ImageToImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageToImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/inpaint:
    post:
      tags:
        - image
      summary: Inpaint Image
      operationId: InpaintImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransformImageWithMaskRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/removeBackground:
    post:
      tags:
        - image
      summary: Remove background
      operationId: RemoveBackground
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/replaceBackground:
    post:
      tags:
        - image
      summary: Replace Background
      operationId: ReplaceBackground
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransformImageWithMaskRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/vectorize:
    post:
      tags:
        - image
      summary: Vectorize image
      operationId: VectorizeImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/styles:
    get:
      tags:
        - style
      summary: List Styles
      operationId: ListStyles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStylesResponse'
    post:
      tags:
        - style
      summary: Create Style
      operationId: CreateStyle
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateStyleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
  /v1/styles/basic:
    get:
      tags:
        - style
      summary: List Basic Styles
      operationId: ListBasicStyles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBasicStylesResponse'
  '/v1/styles/{style_id}':
    delete:
      tags:
        - style
      summary: Delete Style
      operationId: DeleteStyle
      parameters:
        - name: style_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            x-go-name: StyleID
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid/v5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
        - style
      summary: Get Style
      operationId: GetStyle
      parameters:
        - name: style_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            x-go-name: StyleID
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid/v5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
  /v1/users/me:
    get:
      tags:
        - user
      summary: Get current user info
      operationId: GetCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    BasicStyle:
      required:
        - style
        - model
      type: object
      properties:
        model:
          $ref: '#/components/schemas/TransformModel'
        style:
          $ref: '#/components/schemas/ImageStyle'
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
    CreateStyleRequest:
      required:
        - images
        - style
      type: object
      properties:
        images:
          type: array
          items:
            type: string
            format: binary
        private:
          type: boolean
        style:
          $ref: '#/components/schemas/ImageStyle'
    GenerateImageRequest:
      required:
        - prompt
      type: object
      properties:
        block_nsfw:
          type: boolean
        calculate_features:
          type: boolean
        controls:
          $ref: '#/components/schemas/UserControls'
        model:
          $ref: '#/components/schemas/TransformModel'
        n:
          type: integer
        negative_prompt:
          type: string
        prompt:
          type: string
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        size:
          $ref: '#/components/schemas/ImageSize'
        style:
          $ref: '#/components/schemas/ImageStyle'
        style_id:
          type: string
          format: uuid
          x-go-name: StyleID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
        text_layout:
          $ref: '#/components/schemas/TextLayout'
    GenerateImageResponse:
      required:
        - created
        - data
      type: object
      properties:
        created:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/Image'
    Image:
      required:
        - image_id
      type: object
      properties:
        b64_json:
          type: string
        features:
          $ref: '#/components/schemas/ImageFeatures'
        image_id:
          type: string
          format: uuid
          x-go-name: ImageID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        revised_prompt:
          type: string
        url:
          type: string
    ImageColor:
      type: object
      properties:
        rgb:
          type: array
          items:
            type: integer
        std:
          type: array
          items:
            type: number
        weight:
          type: number
    ImageFeatures:
      type: object
      properties:
        nsfw_score:
          type: number
    ImageSize:
      enum:
        - 1024x1024
        - 1365x1024
        - 1024x1365
        - 1536x1024
        - 1024x1536
        - 1820x1024
        - 1024x1820
        - 1024x2048
        - 2048x1024
        - 1434x1024
        - 1024x1434
        - 1024x1280
        - 1280x1024
        - 1024x1707
        - 1707x1024
      type: string
    ImageStyle:
      enum:
        - digital_illustration
        - icon
        - realistic_image
        - vector_illustration
      type: string
    ImageSubStyle:
      enum:
        - 2d_art_poster
        - 3d
        - 80s
        - glow
        - grain
        - hand_drawn
        - infantile_sketch
        - kawaii
        - pixel_art
        - psychedelic
        - seamless
        - voxel
        - watercolor
        - broken_line
        - colored_outline
        - colored_shapes
        - colored_shapes_gradient
        - doodle_fill
        - doodle_offset_fill
        - offset_fill
        - outline
        - outline_gradient
        - uneven_fill
        - 70s
        - cartoon
        - doodle_line_art
        - engraving
        - flat_2
        - kawaii
        - line_art
        - linocut
        - seamless
        - b_and_w
        - enterprise
        - hard_flash
        - hdr
        - motion_blur
        - natural_light
        - studio_portrait
        - line_circuit
        - 2d_art_poster_2
        - engraving_color
        - flat_air_art
        - hand_drawn_outline
        - handmade_3d
        - stickers_drawings
        - plastic
        - pictogram
      type: string
    ImageToImageRequest:
      required:
        - prompt
        - image
        - strength
      type: object
      properties:
        block_nsfw:
          type: boolean
        calculate_features:
          type: boolean
        controls:
          $ref: '#/components/schemas/UserControls'
        image:
          type: string
          format: binary
        model:
          $ref: '#/components/schemas/TransformModel'
        n:
          type: integer
        negative_prompt:
          type: string
        prompt:
          type: string
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        strength:
          type: number
        style:
          $ref: '#/components/schemas/ImageStyle'
        style_id:
          type: string
          format: uuid
          x-go-name: StyleID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
        text_layout:
          $ref: '#/components/schemas/TextLayout'
    ListBasicStylesResponse:
      required:
        - styles
      type: object
      properties:
        styles:
          type: array
          items:
            $ref: '#/components/schemas/BasicStyle'
    ListStylesResponse:
      required:
        - styles
      type: object
      properties:
        styles:
          type: array
          items:
            $ref: '#/components/schemas/Style'
    ProcessImageRequest:
      required:
        - image
      type: object
      properties:
        image:
          type: string
          format: binary
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
    ProcessImageResponse:
      required:
        - created
        - image
      type: object
      properties:
        created:
          type: integer
        image:
          $ref: '#/components/schemas/Image'
    ResponseFormat:
      enum:
        - url
        - b64_json
      type: string
    Style:
      required:
        - id
        - style
        - creation_time
        - is_private
      type: object
      properties:
        creation_time:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
          x-go-name: ID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        is_private:
          type: boolean
        style:
          $ref: '#/components/schemas/ImageStyle'
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
    SystemStatus:
      required:
        - service
        - generation
      type: object
      properties:
        generation:
          type: boolean
        service:
          type: boolean
    TextLayout:
      type: array
      items:
        $ref: '#/components/schemas/TextLayoutItem'
    TextLayoutItem:
      required:
        - text
        - bbox
      type: object
      properties:
        bbox:
          type: array
          items:
            type: array
            items:
              type: number
              x-go-type: float32
        text:
          type: string
    TransformImageWithMaskRequest:
      required:
        - image
        - mask
        - prompt
      type: object
      properties:
        block_nsfw:
          type: boolean
        calculate_features:
          type: boolean
        image:
          type: string
          format: binary
        mask:
          type: string
          format: binary
        model:
          $ref: '#/components/schemas/TransformModel'
        n:
          type: integer
        negative_prompt:
          type: string
        prompt:
          type: string
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        style:
          $ref: '#/components/schemas/ImageStyle'
        style_id:
          type: string
          format: uuid
          x-go-name: StyleID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
        text_layout:
          $ref: '#/components/schemas/TextLayout'
    TransformModel:
      enum:
        - refm1
        - recraft20b
        - recraftv2
        - recraftv3
        - flux1_1pro
        - flux1dev
      type: string
    User:
      required:
        - id
        - credits
      type: object
      properties:
        credits:
          type: integer
        email:
          type: string
          format: email
        id:
          type: string
          format: uuid
          x-go-name: ID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        name:
          type: string
    UserControls:
      type: object
      properties:
        artistic_level:
          type: integer
        background_color:
          $ref: '#/components/schemas/ImageColor'
        colors:
          type: array
          items:
            $ref: '#/components/schemas/ImageColor'
        no_text:
          type: boolean
  securitySchemes:
    auth0:
      type: http
      scheme: bearer
security:
  - auth0: [ ]
  - auth0: [ ]