openapi: 3.0.4
info:
  title: recraft.ai external api
  version: 0.0.1
servers:
  - url: https://external.api.recraft.ai
    description: Production
  - url: https://external.api.recraft.ai/
paths:
  /ping:
    get:
      operationId: GetPing
      responses:
        '200':
          description: OK
  /status:
    get:
      summary: Get System Status
      operationId: GetSystemStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'
  /v1/images/clarityUpscale:
    post:
      tags:
        - image
      summary: Clarity Upscale
      operationId: ClarityUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
      deprecated: true
  /v1/images/creativeUpscale:
    post:
      tags:
        - image
      summary: Creative Upscale
      operationId: CreativeUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/crispUpscale:
    post:
      tags:
        - image
      summary: Crisp Upscale
      operationId: CrispUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/eraseRegion:
    post:
      tags:
        - image
      summary: Erase Region
      operationId: EraseRegion
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EraseRegionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/generateBackground:
    post:
      tags:
        - image
      summary: Generate Background
      operationId: GenerateBackground
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransformImageWithMaskRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/generations:
    post:
      tags:
        - image
      summary: Generate image from prompt
      operationId: GenerateImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/generativeUpscale:
    post:
      tags:
        - image
      summary: Generative Upscale
      operationId: GenerativeUpscale
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
      deprecated: true
  /v1/images/imageToImage:
    post:
      tags:
        - image
      summary: Generate image from image and prompt
      operationId: ImageToImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageToImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/inpaint:
    post:
      tags:
        - image
      summary: Inpaint Image
      operationId: InpaintImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransformImageWithMaskRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/removeBackground:
    post:
      tags:
        - image
      summary: Remove background
      operationId: RemoveBackground
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/images/replaceBackground:
    post:
      tags:
        - image
      summary: Replace Background
      operationId: ReplaceBackground
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransformImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/variateImage:
    post:
      tags:
        - image
      summary: Variate Image
      operationId: VariateImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VariateImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImageResponse'
  /v1/images/vectorize:
    post:
      tags:
        - image
      summary: Vectorize image
      operationId: VectorizeImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessImageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessImageResponse'
  /v1/styles:
    get:
      tags:
        - style
      summary: List Styles
      operationId: ListStyles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStylesResponse'
    post:
      tags:
        - style
      summary: Create Style
      operationId: CreateStyle
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateStyleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStyleResponse'
  /v1/styles/basic:
    get:
      tags:
        - style
      summary: List Basic Styles
      operationId: ListBasicStyles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBasicStylesResponse'
  '/v1/styles/{style_id}':
    delete:
      tags:
        - style
      summary: Delete Style
      operationId: DeleteStyle
      parameters:
        - name: style_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            x-go-name: StyleID
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid/v5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
        - style
      summary: Get Style
      operationId: GetStyle
      parameters:
        - name: style_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            x-go-name: StyleID
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid/v5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
  /v1/users/me:
    get:
      tags:
        - user
      summary: Get current user info
      operationId: GetCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    BasicStyle:
      required:
        - style
        - model
      type: object
      properties:
        model:
          $ref: '#/components/schemas/TransformModel'
        style:
          $ref: '#/components/schemas/ImageStyle'
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
    CreateStyleRequest:
      required:
        - images
        - style
      type: object
      properties:
        images:
          type: array
          items:
            type: string
            format: binary
        private:
          type: boolean
        style:
          $ref: '#/components/schemas/ImageStyle'
    CreateStyleResponse:
      allOf:
        - $ref: '#/components/schemas/Style'
        - required:
            - credits
          type: object
          properties:
            credits:
              type: integer
    EraseRegionRequest:
      required:
        - image
        - mask
      type: object
      properties:
        expire:
          type: boolean
        image:
          type: string
          format: binary
        image_format:
          $ref: '#/components/schemas/ImageFormat'
        mask:
          type: string
          format: binary
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
    GenerateImageRequest:
      required:
        - prompt
      type: object
      properties:
        block_nsfw:
          type: boolean
        calculate_features:
          type: boolean
        controls:
          $ref: '#/components/schemas/UserControls'
        expire:
          type: boolean
        image_format:
          $ref: '#/components/schemas/ImageFormat'
        model:
          $ref: '#/components/schemas/TransformModel'
        n:
          type: integer
        negative_prompt:
          type: string
        prompt:
          type: string
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        size:
          $ref: '#/components/schemas/ImageSize'
        style:
          type: string
        style_id:
          type: string
          format: uuid
          x-go-name: StyleID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
        text_layout:
          $ref: '#/components/schemas/TextLayout'
        upscale:
          $ref: '#/components/schemas/UpscaleMode'
    GenerateImageResponse:
      required:
        - created
        - data
        - credits
      type: object
      properties:
        created:
          type: integer
        credits:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/Image'
    Image:
      required:
        - image_id
      type: object
      properties:
        b64_json:
          type: string
        features:
          $ref: '#/components/schemas/ImageFeatures'
        image_id:
          type: string
          format: uuid
          x-go-name: ImageID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        revised_prompt:
          type: string
        url:
          type: string
    ImageColor:
      type: object
      properties:
        rgb:
          type: array
          items:
            type: integer
        std:
          type: array
          items:
            type: number
        weight:
          type: number
    ImageFeatures:
      type: object
      properties:
        nsfw_score:
          type: number
    ImageFormat:
      enum:
        - webp
        - png
      type: string
    ImageSize:
      enum:
        - 1024x1024
        - 1365x1024
        - 1024x1365
        - 1536x1024
        - 1024x1536
        - 1820x1024
        - 1024x1820
        - 1024x2048
        - 2048x1024
        - 1434x1024
        - 1024x1434
        - 1024x1280
        - 1280x1024
        - 1024x1707
        - 1707x1024
      type: string
    ImageStyle:
      enum:
        - digital_illustration
        - icon
        - realistic_image
        - vector_illustration
        - logo_raster
      type: string
    ImageSubStyle:
      enum:
        - 2d_art_poster
        - 3d
        - 80s
        - glow
        - grain
        - hand_drawn
        - infantile_sketch
        - kawaii
        - pixel_art
        - psychedelic
        - seamless
        - voxel
        - watercolor
        - broken_line
        - colored_outline
        - colored_shapes
        - colored_shapes_gradient
        - doodle_fill
        - doodle_offset_fill
        - offset_fill
        - outline
        - outline_gradient
        - cartoon
        - doodle_line_art
        - engraving
        - flat_2
        - line_art
        - linocut
        - b_and_w
        - enterprise
        - hard_flash
        - hdr
        - motion_blur
        - natural_light
        - studio_portrait
        - line_circuit
        - 2d_art_poster_2
        - engraving_color
        - hand_drawn_outline
        - handmade_3d
        - plastic
        - pictogram
        - antiquarian
        - bold_fantasy
        - child_book
        - cover
        - crosshatch
        - digital_engraving
        - expressionism
        - freehand_details
        - grain_20
        - graphic_intensity
        - hard_comics
        - long_shadow
        - modern_folk
        - multicolor
        - neon_calm
        - noir
        - nostalgic_pastel
        - outline_details
        - pastel_gradient
        - pastel_sketch
        - pop_art
        - pop_renaissance
        - street_art
        - tablet_sketch
        - urban_glow
        - urban_sketching
        - young_adult_book
        - young_adult_book_2
        - evening_light
        - faded_nostalgia
        - forest_life
        - mystic_naturalism
        - natural_tones
        - organic_calm
        - real_life_glow
        - retro_realism
        - retro_snapshot
        - urban_drama
        - village_realism
        - warm_folk
        - bold_stroke
        - chemistry
        - colored_stencil
        - cosmics
        - cutout
        - depressive
        - editorial
        - emotional_flat
        - marker_outline
        - mosaic
        - naivector
        - roundish_flat
        - segmented_colors
        - sharp_contrast
        - thin
        - vector_photo
        - vivid_shapes
        - emblem_graffiti
        - emblem_pop_art
        - emblem_punk
        - emblem_stamp
        - emblem_vintage
      type: string
    ImageToImageRequest:
      required:
        - prompt
        - image
        - strength
      type: object
      properties:
        block_nsfw:
          type: boolean
        calculate_features:
          type: boolean
        controls:
          $ref: '#/components/schemas/UserControls'
        expire:
          type: boolean
        image:
          type: string
          format: binary
        image_format:
          $ref: '#/components/schemas/ImageFormat'
        model:
          $ref: '#/components/schemas/TransformModel'
        n:
          type: integer
        negative_prompt:
          type: string
        prompt:
          type: string
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        strength:
          type: number
        style:
          type: string
        style_id:
          type: string
          format: uuid
          x-go-name: StyleID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
        text_layout:
          $ref: '#/components/schemas/TextLayout'
    ListBasicStylesResponse:
      required:
        - styles
      type: object
      properties:
        styles:
          type: array
          items:
            $ref: '#/components/schemas/BasicStyle'
    ListStylesResponse:
      required:
        - styles
      type: object
      properties:
        styles:
          type: array
          items:
            $ref: '#/components/schemas/Style'
    ProcessImageRequest:
      required:
        - image
      type: object
      properties:
        expire:
          type: boolean
        image:
          type: string
          format: binary
        image_format:
          $ref: '#/components/schemas/ImageFormat'
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        upscale:
          $ref: '#/components/schemas/UpscaleMode'
    ProcessImageResponse:
      required:
        - created
        - image
        - credits
      type: object
      properties:
        created:
          type: integer
        credits:
          type: integer
        image:
          $ref: '#/components/schemas/Image'
    ResponseFormat:
      enum:
        - url
        - b64_json
      type: string
    Style:
      required:
        - id
        - style
        - creation_time
        - is_private
      type: object
      properties:
        creation_time:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
          x-go-name: ID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        is_private:
          type: boolean
        style:
          $ref: '#/components/schemas/ImageStyle'
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
    SystemStatus:
      required:
        - service
        - generation
      type: object
      properties:
        generation:
          type: boolean
        service:
          type: boolean
    TextLayout:
      type: array
      items:
        $ref: '#/components/schemas/TextLayoutItem'
    TextLayoutItem:
      required:
        - text
        - bbox
      type: object
      properties:
        bbox:
          type: array
          items:
            type: array
            items:
              type: number
              x-go-type: float32
        text:
          type: string
    TransformImageRequest:
      required:
        - image
        - prompt
      type: object
      properties:
        block_nsfw:
          type: boolean
        calculate_features:
          type: boolean
        expire:
          type: boolean
        image:
          type: string
          format: binary
        image_format:
          $ref: '#/components/schemas/ImageFormat'
        model:
          $ref: '#/components/schemas/TransformModel'
        n:
          type: integer
        negative_prompt:
          type: string
        prompt:
          type: string
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        style:
          type: string
        style_id:
          type: string
          format: uuid
          x-go-name: StyleID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        substyle:
          $ref: '#/components/schemas/ImageSubStyle'
        text_layout:
          $ref: '#/components/schemas/TextLayout'
    TransformImageWithMaskRequest:
      allOf:
        - $ref: '#/components/schemas/TransformImageRequest'
        - required:
            - mask
          type: object
          properties:
            mask:
              type: string
              format: binary
    TransformModel:
      enum:
        - refm1
        - recraft20b
        - recraftv2
        - recraftv3
        - recraftv4
        - flux1_kontext_pro
        - flux1_kontext_max
        - flux1_1pro
        - flux1dev
        - imagen3
        - imagen4
        - imagen4_ultra
        - hidream_i1_dev
        - gpt_image_1_low
        - gpt_image_1_medium
        - gpt_image_1_high
        - ideogram_v3_turbo
        - ideogram_v3_default
        - ideogram_v3_quality
        - qwen_image
        - gemini_25_flash_image
        - bytedance-seedreamv4
      type: string
    UpscaleMode:
      enum:
        - upscale4mp
        - upscale16mp
      type: string
    User:
      required:
        - id
        - credits
      type: object
      properties:
        credits:
          type: integer
        email:
          type: string
          format: email
        id:
          type: string
          format: uuid
          x-go-name: ID
          x-go-type: uuid.UUID
          x-go-type-import:
            path: github.com/gofrs/uuid/v5
        name:
          type: string
    UserControls:
      type: object
      properties:
        artistic_level:
          type: integer
        background_color:
          $ref: '#/components/schemas/ImageColor'
        colors:
          type: array
          items:
            $ref: '#/components/schemas/ImageColor'
        no_text:
          type: boolean
    VariateImageRequest:
      required:
        - image
        - size
      type: object
      properties:
        expire:
          type: boolean
        image:
          type: string
          format: binary
        image_format:
          $ref: '#/components/schemas/ImageFormat'
        n:
          type: integer
        random_seed:
          type: integer
          format: uint32
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        size:
          $ref: '#/components/schemas/ImageSize'
  securitySchemes:
    auth0:
      type: http
      scheme: bearer
security:
  - auth0: [ ]
  - auth0: [ ]